@import "colors";

* {
  margin: 0;
  padding: 0;
  color: #ffff;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
}

.logo {
  img {
    border-radius: 100%;
  }
}

.btn {
  background-color: #ffff;
  color: #000;
  padding: 15px;
  margin-top: 150px;

  &:hover {
    background-color: $third-color;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: #ffff;
  }
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.hero-banner {
  position: relative;
  background-image: url(../../../public/uploads/jakob_owens_Jz_J_Syb_P_Fb3s_unsplash_0840f6de0c.jpg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 200px;

  .index-title {
    position: absolute;
    right: 6%;
    top: 15%;
  }
}

.feature {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*


PRODUCTS


*/

.product-container,
.webproduct-container {
  display: flex;
  width: 70%;
  margin: 40px auto;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 40px;
}

.product {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  &-info {
    background-color: $primary-color;
    text-align: center;

    &:hover {
      cursor: pointer;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      background-color: $third-color;
    }
  }
}

.product-img {
  display: flex;
  width: 200px;
  height: 250px;

  img {
    max-width: 100%;
  }
}

/*

FILTER

*/

input::placeholder {
  color: #000;
}

/*

PRODUCT DETAIL PAGE 

*/

.pd-detail-container {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  width: 90%;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;

    .pd-info {
      width: 80%;
      margin-top: 20px;
    }

    .pd-img {
      display: block;
      width: 70vw;
      height: auto;
    }
  }

  img {
    width: 100%;
  }
}

.pd-info {
  width: 50%;
  background-color: $third-color;
  padding: 10px;
  border-radius: 10%;
  opacity: 0.8;
}

.pd-title {
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  #search-box {
    width: 25%;
    margin: 0 auto;
  }
}

.pd-img {
  display: flex;
  margin: 0 auto;
  width: 400px;
  height: 450px;
}

.pd-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  cursor: pointer;
}

/*

CART DETAIL PAGE 

*/

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $third-color;
  width: 80%;
  padding: 30px;
  border-radius: 55px;
  margin: 20px auto;

  @media (max-width: 1100px) {
    flex-direction: column;

    .sum-product-list {
      text-align: center;
      margin-top: 50px;
    }
  }
}

.the-product-list {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  .product-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .pl-img {
      width: 170px;

      @media (max-width: 620px) {
        width: 44%;
      }

      img {
        width: 100%;
        height: 170px;
      }
    }
    .remove-btn {
      cursor: pointer;
      margin-left: 20px;
    }
    .pl-title {
      margin-left: 20px;
      text-align: center;
    }
  }
}

.noitem {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $primary-color;
}

/*

LOGIN PAGE

*/

form {
  margin: 50px auto;

  input {
    color: #000;
    margin-bottom: 5px;
    padding: 5px;
    width: 90%;
  }

  #submit {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 7px 20px;
    width: 70%;
    border-radius: 100px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: $third-color;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
      color: #ffff;
    }
  }

  .checkbox {
    display: flex;
    margin: 12px 0px 30px 0px;
  }
}

.message {
  width: 20%;
  padding: 5px 0px;
  margin: 0px auto;
  text-align: center;

  @media (max-width: 430px) {
    font-size: 15px;
  }

  .error,
  .warning {
    background-color: $secondary-color;
  }

  .success {
    background-color: rgb(7, 196, 7);
  }
}

.form-buttons {
  display: flex;
  justify-content: space-around;

  .delete {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 7px 50px;
    width: 70%;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    color: #000;
    &:hover {
      background-color: $secondary-color;
      color: #ffff;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
  }

  #add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 5px auto;
    padding: 7px 20px;
    width: 70%;
    border-radius: 100px;
    border: none;
    color: #000;

    &:hover {
      background-color: #008000;
      color: #ffff;
      transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}

#logout {
  color: #000;
  border: none;

  &:hover {
    color: #ffff;
    cursor: pointer;
    background-color: $secondary-color;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}

footer {
  flex-shrink: 0;
  align-items: center;
  padding: 20px 0px;
  background-color: $third-color;
  text-align: center;
}

// ANIMATIONS
